@import "vars"


@media only screen and (max-width : 1740px)
  .form-wrapper .label-max
    max-width: 380px

  .table-customers-new
    width: 100%

@media only screen and (max-width : 1460px)
  .table-customers-new .btn
    width: 160px

@media only screen and (max-width : 1330px)
  .form-wrapper label
    max-width: 19%

  .form-wrapper .label-max
    max-width: none
    order: 1

  .tender-box__name
    padding: 0 9px

  .auction .btn-group .btn
    width: 260px

  .table-customers-new .btn
    width: 130px


@media only screen and (max-width : 1280px)
  .table-add-tender tbody tr td
    white-space: nowrap

  .registration-user .form
    padding: 0

  .registration-user .form-contract .btn-close
    margin: 0 0 20px auto

@media only screen and (max-width : 1199px)
  .description-tender__box, .col
    width: 30%

  .timer-wrapper
    width: 100%

  .auction .btn-group .btn
    margin: 0 20px 10px 0
    &:last-child
      margin: 0 0 10px



@media only screen and (max-width : 1100px)
  .table-add-tender tbody tr td
    white-space: nowrap

  .form-wrapper label
    max-width: 49%

  .table-customers-new .btn
    width: auto
    padding: 0 10px

@media only screen and (max-width : 991px)
  .tender-box
    height: 80px
    font-size: 14px

  .header-menu
    margin: 0 0 0 20px
    li
      margin: 0 20px 0 0

  .btn-copy
    width: 20px
    height: 20px

  .menu-toggle
    width: 25px
    div
      margin: 0 0 4px

  .description-tender__box, .col
    width: 50%

  .auction-wrapper .auction-wrapper__box
    width: 100%

  .auction-wrapper__box-one
    margin: 0 0 40px

  .auction-table__body .form-group
    width: 300px

  .table-customers-new
    .btn
      width: 160px
      padding: 0
    .btn-group
      flex-wrap: nowrap

  .registration-user
    .form
      input, button
        width: calc(100% - 200px)
      .form-group__title
        width: 200px

  .list-wrapper, .field__wrapper
    width: calc(100% - 200px)


  .registration-user .form-contract .line-bottom .checkbox
    width: 200px

  .registration-user .form-contract button
    margin: 17px 0 0 200px


@media only screen and (max-width : 767px)
  .sidebar-close
    display: flex

  .wrapper.sidenav-open .content-wrapper
    width: 100%

  .tender-box
    td
      padding: 0 5px

  .auction-table__body .form-group
    width: 100%

  .auction-table__box
    width: 100%
    margin-right: 0

  .add-auction__content .form-wrapper .label-date
    max-width: 280px

  .auction-table__body
    padding: 25px 10px

  .tabs__content
    padding: 0


@media only screen and (max-width : 680px)
  .tabs__caption li
    margin: 0 auto 20px
    &:last-child
      margin: 0 auto 20px

  .registration-user
    .form
      input, button
        width: 100%
      .form-group__title
        width: 100%
        margin: 0 0 5px
      label, .form-group
        flex-direction: column
        align-items: flex-start
        .form-group__title
          padding: 0

  .list-wrapper, .field__wrapper
    width: 100%

  .registration-user .form-contract .line-bottom .checkbox
    flex-direction: row
    width: 100%
    margin: 0 0 5px

  .registration-user .form-contract button
    margin: 17px 0 0 0

  .registration-user .form .radio, .settings .list-checkbox .checkbox
    flex-direction: row
    align-items: center

  .settings .list-checkbox
    width: 100%
    li
      width: 100%

@media only screen and (max-width : 640px)
  .upcoming-tender .title-line .btn
    width: 280px

@media only screen and (max-width : 576px)
  .tender-box__name
    min-width: 200px

  .tender-box__status
    min-width: 130px

  .tender-box__number
    min-width: 80px

  h1, .subtitle
    width: 100%

  .upcoming-tender .title-line .btn
    margin: 10px auto 0

@media only screen and (max-width : 480px)
  .box-admin
    flex-direction: column
    align-items: flex-end

  header
    margin: 0 0 30px


  h1, .subtitle, .current-rate p
    font-size: 22px

  .description-tender__box, .col
    width: 100%
    padding: 0

  .dropDown-subMenu
    left: 50%
    top: 100%
    transform: translate(-50%,0)

@media only screen and (max-width : 420px)
  .header-menu
    flex-direction: column
    align-items: flex-start
    li
      margin: 0
      a
        font-size: 12px

  .pagination li:first-child a, .pagination li:last-child a
    width: 80px
    height: 40px
    font-size: 13px

  .pagination li
    margin: 0 10px 0 0
    a
      font-size: 16px
      width: 40px
      height: 40px

  .navigation .nav-item
    height: 55px

  .form-wrapper label
    max-width: none

  .btn
    height: 50px

  .timer-box__val
    font-size: 28px

  .timer-box:before
    font-size: 28px

  .table-customers-details tr td
    padding: 15px
